__pycache__
venv
.dockerignore
dockerfile
notes.  
infrastructure/environments/development/.terraform.lock.hcl
infrastructure/environments/production
.terraform/
terraform.tfstate
terraform.tfstate.backup